@model List<COMP2139_Assignment1.Models.Product>
<hr/>
<h2>File: ViewInventory.cshtml</h2>

<!-- Display Product Information Table -->
<section class="inventoryTable">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <td>@product.ProductId</td>
        <td>@product.ProductName</td>
        <td>@product.Price</td>
        <td>@product.Quantity</td>
        <td>@product.Category</td>
    }
    </tbody>
</section>


<!-- Add Product User Form -->
<h2>Add Product to Inventory</h2>

<a asp-action="AddProduct" class="btn btn-primary">Add Product</a>

<hr/>